/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass"; 
@import "compass/reset";

$separator: 3px;
$headerHeight: 140px;
$bodyWidth: 1440px;
$siteWidth: 960px;
$menuItems: 6;
$navHeight: 35px;


$darkGray: #404040;
$lightGray: #58585A;
$contentBgColor: #DDD;
$green: #83A642;
$text: #000;

$prefixes: ("-webkit-","-moz-", "-o-", "");
@mixin selection($color, $background) {
    @each $prefix in $prefixes {
        ::#{$prefix}selection {
            color: $color;
            background: $background;
        }
    }
}

html {
	
}

body {
	background-color: $lightGray;
	@include filter-gradient($contentBgColor, $lightGray, horizontal); // IE6-9 fallback on horizontal gradient
	@include background-image(radial-gradient(center top, ellipse cover,  $contentBgColor 50%,$lightGray 100%));
	@include selection(white, $green);
	font: {
		family: Arial, Verdana, sans-serif;
	}
	color: $text;
	line-height: 1;
	height: 100%;
	letter-spacing: 1px;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
/*
	max-width: $bodyWidth;
*/
	margin: {
		left: auto;
		right: auto;
	}
}

a {
	color: $green;
	cursor: default;
}

header {
	height: $headerHeight - $separator;
	width: 100%;
	min-width: $siteWidth;
	background-color: $darkGray;
	
	margin: {
		left: auto;
		right: auto;
	}
	padding: {
		top: 2em;
	}
	
	border-bottom: $separator solid $green;
	
	.top {
		height: $headerHeight - $navHeight;
		color: $green;
		h1 {
			
			font-size: 50px;
			font-weight: 900;
		}
		h2 {
			margin-left: 3px;
		}
	}
	
	nav {
		/*
		text-align: center;
		*/
		ul {
			width: $siteWidth;
			list-style-type: none;
			
			margin: {
				left: auto;
				right: auto;
			}
			
			li {
				text-decoration: none;
				display: inline-block;
				margin-right: 2em;
				padding-left: 0.7em;
				padding-right: 0.7em;
				line-height: $navHeight - $separator;
				
				a {
					text-decoration: none;
					color: $green;
				}
			}
			
			li.active {
				border-top: $separator solid $green;
				border-left: $separator solid $green;
				border-right: $separator solid $green;
				background-color: $contentBgColor;
				
				a {
					color: $text;
				}
			}
			
			li:hover {
				text-shadow: 0 1px 0 $text;
			}
			
			li.active:hover {
				text-shadow: none;
			}
			
			li:last {
				padding-right: 0;
			}
		}
		

	}
}

#main {
	
}
.main {
	width: $siteWidth;
	background-color: rgba($contentBgColor,0);
	

	margin: {
		left:auto;
		right: auto;
	}	
}

section.content {
	margin: {
		top: 2em;
		bottom: 2em;
		
		}
		width: 90%;
	
	h1 {
		color: $green;
		font-size: 18px;
		margin-bottom: 2em;
	}
}
.content {
		width: $siteWidth;
		height: 100%;
		
		p {
			margin-bottom: 1.3em;
		}
		margin: {
			left: auto;
			right: auto;
		}
	}
	
.centered {
	width: 580px;
	margin: {
		left: auto;
		right: auto;
	}
}

#map {
	width: 300px;
	height: 200px;
}

sub,sup {
	font-size: 50%;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: bottom;
}
i[class^="icon"] {
	color: $green;
}

h3 {
	color: $green;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 5px;
	margin-top: 5px;
}

p.center {
	text-align: center;
}

table {	
	font-size: 80%;
	margin-bottom: 2em;

	th,td {
		border: {			
			style: solid;
			width: 3px;
			color: $darkGray;
		}
		padding: {
			top: 3px;
			bottom: 3px;
			left: 8px;
		}
	}
	
	th {
		background-color: $lightGray;
		font-weight: 900;
		padding-left: 4px;
		color: $green;
	}
}

i {
	font-style: italic;
}

b {
	color: $green;
	font-weight: 600;
}

img {
	width: 580px;
}
