/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* $darkGray: #404040; */
/* #A0A0A0 */
/* #A0A0A0 */
/* #A0A0A0 */
/* line 37, ../sass/screen.scss */
body {
  background-color: #58585a;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFDDDDDD', endColorstr='#FF58585A');
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 100, color-stop(50%, #dddddd), color-stop(100%, #58585a));
  background-image: -webkit-radial-gradient(center top, ellipse cover, #dddddd 50%, #58585a 100%);
  background-image: -moz-radial-gradient(center top, ellipse cover, #dddddd 50%, #58585a 100%);
  background-image: -o-radial-gradient(center top, ellipse cover, #dddddd 50%, #58585a 100%);
  background-image: radial-gradient(center top, ellipse cover, #dddddd 50%, #58585a 100%);
  font-family: Arial, Verdana, sans-serif;
  color: black;
  line-height: 1;
  height: 100%;
  letter-spacing: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*
  	max-width: $bodyWidth;
  */
  margin-left: auto;
  margin-right: auto;
}
/* line 26, ../sass/screen.scss */
body ::-webkit-selection {
  color: white;
  background: #83a642;
}
/* line 26, ../sass/screen.scss */
body ::-moz-selection {
  color: white;
  background: #83a642;
}
/* line 26, ../sass/screen.scss */
body ::-o-selection {
  color: white;
  background: #83a642;
}
/* line 26, ../sass/screen.scss */
body ::selection {
  color: white;
  background: #83a642;
}

/* line 64, ../sass/screen.scss */
a {
  color: #83a642;
  cursor: default;
}

/* line 69, ../sass/screen.scss */
header {
  height: 137px;
  width: 100%;
  min-width: 960px;
  background-color: #404040;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  border-bottom: 3px solid #83a642;
}
/* line 85, ../sass/screen.scss */
header .top {
  height: 105px;
  color: #83a642;
}
/* line 88, ../sass/screen.scss */
header .top h1 {
  font-size: 50px;
  font-weight: 900;
}
/* line 93, ../sass/screen.scss */
header .top h2 {
  margin-left: 3px;
}
/* line 98, ../sass/screen.scss */
header nav {
  /*
  text-align: center;
  */
}
/* line 102, ../sass/screen.scss */
header nav ul {
  width: 960px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
/* line 111, ../sass/screen.scss */
header nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 2em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  line-height: 32px;
}
/* line 119, ../sass/screen.scss */
header nav ul li a {
  text-decoration: none;
  color: #83a642;
}
/* line 125, ../sass/screen.scss */
header nav ul li.active {
  border-top: 3px solid #83a642;
  border-left: 3px solid #83a642;
  border-right: 3px solid #83a642;
  background-color: #dddddd;
}
/* line 131, ../sass/screen.scss */
header nav ul li.active a {
  color: black;
}
/* line 136, ../sass/screen.scss */
header nav ul li:hover {
  text-shadow: 0 1px 0 black;
}
/* line 140, ../sass/screen.scss */
header nav ul li.active:hover {
  text-shadow: none;
}
/* line 144, ../sass/screen.scss */
header nav ul li:last {
  padding-right: 0;
}

/* line 156, ../sass/screen.scss */
.main {
  width: 960px;
  background-color: rgba(221, 221, 221, 0);
  margin-left: auto;
  margin-right: auto;
}

/* line 167, ../sass/screen.scss */
section.content {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 90%;
}
/* line 175, ../sass/screen.scss */
section.content h1 {
  color: #83a642;
  font-size: 18px;
  margin-bottom: 2em;
}

/* line 181, ../sass/screen.scss */
.content {
  width: 960px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 185, ../sass/screen.scss */
.content p {
  margin-bottom: 1.3em;
}

/* line 194, ../sass/screen.scss */
.centered {
  width: 580px;
  margin-left: auto;
  margin-right: auto;
}

/* line 202, ../sass/screen.scss */
#map {
  width: 300px;
  height: 200px;
}

/* line 207, ../sass/screen.scss */
sub, sup {
  font-size: 50%;
}

/* line 211, ../sass/screen.scss */
sup {
  vertical-align: super;
}

/* line 215, ../sass/screen.scss */
sub {
  vertical-align: bottom;
}

/* line 218, ../sass/screen.scss */
i[class^="icon"] {
  color: #83a642;
}

/* line 222, ../sass/screen.scss */
h3 {
  color: #83a642;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* line 230, ../sass/screen.scss */
p.center {
  text-align: center;
}

/* line 234, ../sass/screen.scss */
table {
  font-size: 80%;
  margin-bottom: 2em;
}
/* line 238, ../sass/screen.scss */
table th, table td {
  border-style: solid;
  border-width: 3px;
  border-color: #404040;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
}
/* line 251, ../sass/screen.scss */
table th {
  background-color: #58585a;
  font-weight: 900;
  padding-left: 4px;
  color: #83a642;
}

/* line 259, ../sass/screen.scss */
i {
  font-style: italic;
}

/* line 263, ../sass/screen.scss */
b {
  color: #83a642;
  font-weight: 600;
}

/* line 268, ../sass/screen.scss */
img {
  width: 580px;
}
