/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* */
/* #A0A0A0 */
/* line 31, ../sass/screen.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  color: #aaaaaa;
  line-height: 1;
  background-color: #58585a;
  /*
  	max-width: $bodyWidth;
  */
  margin-left: auto;
  margin-right: auto;
}
/* line 24, ../sass/screen.scss */
body ::-webkit-selection {
  color: white;
  background: #83a642;
}
/* line 24, ../sass/screen.scss */
body ::-moz-selection {
  color: white;
  background: #83a642;
}
/* line 24, ../sass/screen.scss */
body ::-o-selection {
  color: white;
  background: #83a642;
}
/* line 24, ../sass/screen.scss */
body ::selection {
  color: white;
  background: #83a642;
}

/* line 48, ../sass/screen.scss */
a {
  color: #83a642;
  cursor: default;
}

/* line 53, ../sass/screen.scss */
header {
  height: 138px;
  width: 100%;
  min-width: 960px;
  background-color: #404040;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 2px solid #83a642;
}
/* line 70, ../sass/screen.scss */
header .top {
  height: 105px;
}
/* line 72, ../sass/screen.scss */
header .top h1 {
  color: #83a642;
  font-size: 50px;
  font-weight: 900;
}
/* line 80, ../sass/screen.scss */
header nav ul {
  width: 960px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
/* line 89, ../sass/screen.scss */
header nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 2em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  line-height: 33px;
}
/* line 98, ../sass/screen.scss */
header nav ul li.active {
  border-top: 2px solid #83a642;
  border-left: 2px solid #83a642;
  border-right: 2px solid #83a642;
  background-color: #58585a;
}
/* line 105, ../sass/screen.scss */
header nav ul li:hover {
  text-shadow: 0 1px 0 #aaaaaa;
}
/* line 109, ../sass/screen.scss */
header nav ul li.active:hover {
  text-shadow: none;
}
/* line 113, ../sass/screen.scss */
header nav ul li:last {
  padding-right: 0;
}
/* line 118, ../sass/screen.scss */
header nav a {
  text-decoration: none;
  color: #aaaaaa;
}

/* line 125, ../sass/screen.scss */
#main {
  margin-top: 2em;
}

/* line 129, ../sass/screen.scss */
.content {
  width: 960px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 133, ../sass/screen.scss */
.content p {
  margin-bottom: 1.3em;
}

/* line 142, ../sass/screen.scss */
.centered {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
}

/* line 150, ../sass/screen.scss */
#map {
  width: 300px;
  height: 200px;
}

/* line 155, ../sass/screen.scss */
sub, sup {
  font-size: 50%;
}

/* line 159, ../sass/screen.scss */
sup {
  vertical-align: super;
}

/* line 163, ../sass/screen.scss */
sub {
  vertical-align: bottom;
}

/* line 166, ../sass/screen.scss */
i[class^="icon"] {
  color: #83a642;
}

/* line 170, ../sass/screen.scss */
h3 {
  color: #83a642;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* line 178, ../sass/screen.scss */
p.center {
  text-align: center;
}

/* line 182, ../sass/screen.scss */
table {
  margin-bottom: 2em;
}
/* line 183, ../sass/screen.scss */
table th, table td {
  border-style: solid;
  border-width: 3px;
  border-color: #404040;
  padding: 2px;
}
